.radial{
border: 2px solid black;
height:300px;
width:300px;

margin: auto;
margin-top: 25px;
background-image: linear-gradient(to top,green,white,orange);
}
.radial1{
  border: 2px solid black;
height:300px;
width:300px;

margin: auto;
margin-top: 25px;
background-image: radial-gradient(circle,orange,white,green);
}