.container{
  background-color: brown
  ;
  height: 500px;
  border: 3px solid
  black;
  display: grid;
  grid-template-columns: 50px 250px 70px;
grid-template-rows: 30px 300px 30px;

gap: 10px;
}
.box{
  background-color:aqua;
  border: 3px solid black;
  /* width: 80px; */
  /* height: 80px; */
}
#first{
  grid-column-start:1;
  grid-column-end: 4;
}
/* #new1{
  grid-row-start: 2;
  grid-row-end: 4;
} */
#last{
  grid-column-start: 1;
  grid-column-end: 4;
}
#bich{
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 4;
}